@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    background:#f1f1f1;
}
a {
    color: #00A3E0;
}
.loaderGif {
    width: 20px;
    z-index: 2;
    height: 20px;
    background: url("../images/spinner.gif");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5px;
}
.width-20 {
    width: 20%;
    float: left;
}
.width-10 {
    width: 10%;
    float: left;
}
.margin-left-12{
    margin-left: 12px;
}
.btn-above-table{
    margin-top: -20px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.mrgin-top-25{
   margin-top: 25px !important; 
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.dropdown-menu input {
    color: #999;
    width: 100%;
}
.margin-10 {
    margin: 10px !important;
}
.ng-cloak {
    display: none !important;
}
.bold{
    font-weight: bold;
}
header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 6;
}
footer {
    background: #000;
    color: #fff;
    padding: 10px 30px;
    font-size: 10px;
    z-index: 5;
    position: absolute;
    border-top: 1px solid #88c700;
    margin-top: 10px;
}
footer.authPage {
    margin-left: 15%;
}
footer > p{
    margin-bottom: 5px;
}
.clearfix {
    clear: both;
}
.btn-group, .btn-group > .btn {
    min-width: 160px;
}
.modal-content, .modal-footer {
    text-align: center;
}
.dropdown-menu > li > a {
    max-width: 157px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Loader Starts */
.loaderWrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background-color: black;
    opacity: 0.8;
}
.loader {
    font-size: 20px;
    margin: 0px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}
/* Loader Ends */

/* Image on Login page Starts */
.green_circle {
    background-color: #88c700;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    position: absolute;
}
.green_circle_text {
    position: absolute;
    color: #000;
    height: 70px;
    width: 70px;
    text-align: center;
}
#earth {
    width: 200px;
    height: 200px;
    background: url("../images/earth_tru_simple_invert.png");
    border-radius: 50%;
    background-size: 420px;
    box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
                inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    margin-top: 160px;
    margin-left: 100px;
}
#earth_circle_inner_grey {
    height: 220px;
    width: 220px;
    position: absolute;
    background: #aaa;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 90px;
}
#earth_circle_outer_blue {
    height: 280px;
    width: 280px;
    position: absolute;
    background: #000;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: 60px;
}
#earth_circle_white {
    height: 270px;
    width: 270px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    margin-top: 125px;
    margin-left: 65px;
}
@keyframes rotate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 420px;
    }
}
.circle1 {
    margin-top: 120px;
    margin-left: 15px;
}
.text1 {
    margin-top: 100px;
    margin-left: 15px;
}
.circle2 {
    margin-top: 40px;
    margin-left: 160px;
}
.text2 {
    margin-left: 160px;
}
.circle3 {
    margin-top: 120px;
    margin-left: 315px;
}
.text3 {
    margin-top: 100px;
    margin-left: 315px;
}
.circle4 {
    margin-top: 330px;
    margin-left: 15px;
}
.text4 {
    margin-top: 400px;
    margin-left: 5px;
}
.circle5 {
    margin-top: 410px;
    margin-left: 160px;
}
.text5 {
    margin-top: 480px;
    margin-left: 160px;
}
.circle6 {
    margin-top: 330px;
    margin-left: 315px;
}
.text6 {
    margin-top: 400px;
    margin-left: 315px;
}
div.cover {
    position: absolute;
    margin-top: 115px;
    margin-left: 15px;
}
div.cover > div {
    position : absolute;
    z-index : 2;
    width : 2px;
    height: 270px;
    left : 184px;
    top : 10px;
    background : -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(117,117,117,1) 7%, rgba(116,116,116,0) 8%, rgba(1,1,1,0) 92%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background : -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(117,117,117,1) 7%,rgba(116,116,116,0) 8%,rgba(1,1,1,0) 92%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
}
div.zero {
    transform :rotate(0deg);
}
div.one {
    transform :rotate(30deg);
}
div.two {
    transform :rotate(60deg);
}
div.three {
    transform :rotate(90deg);
}
div.four {
    transform :rotate(300deg);
}
div.five {
    transform :rotate(330deg);
}
.timer {
    height: 210px;
    width: 210px;
    margin-top: 155px;
    margin-left: 95px;
    background: -webkit-linear-gradient(left, #88c700 50%, #fff 50%);
    border-radius: 100%;
    position: absolute;
    -webkit-animation: time 20s steps(2000, start) infinite;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    margin-left: 0;
    position: absolute;
    margin-top: 0;
    width: 50%;
    -webkit-animation: mask 20s steps(1000, start) infinite;
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #fff; /* Background color */
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #fff; /* Background color */
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: #88c700; /* Foreground color */
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: #88c700; /* Foreground color */
        -webkit-transform: rotate(-180deg);
    }
}
.aaa_image {
    float: left;
    position: relative;
    margin-top: 70px;
}
.aaa_image img {
    width: 360px;
}
.login-page {
    float: left;
}
/* Image on Login page Ends */

/* Header Starts */
.bct-header {
    background: #000;
    color: #fff;
    padding: 10px 0 10px;
    border-bottom: 1px solid #88c700;
}
.bct-header.authorizedPage {
    padding-bottom: 0px;
    border-bottom: none;
}
.bct-header .title img {
    width: 100%;
    margin-top: 10px;
}
.nav-dropdowns {
    text-align: center;
    margin-top: 10px;
}
.nav-dropdowns.nav > li {
    display: inline-block;
}
.nav-dropdowns a {
    color: white;
}
.nav-dropdowns li:hover a,.nav-dropdowns li:hover span {
    display: block;
}
.nav-dropdowns .dropbtn:hover, .nav-dropdowns li.dropdown:hover, .nav-dropdowns a.exchange_rate:hover, .nav-dropdowns a.final_consolidation:hover {
    text-decoration: none;
    background-color: #88c700;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    background: #000;
    z-index: 10;
    text-align: left;
    border: 1px solid #88c700;
}
li.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 5px 15px;
    border-top: 1px solid #88c700;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #88c700;
}
.dropbtn {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}
.bct-menu-holder {
    text-align: center;
    margin-top: -7px;
}
.bct-menu-holder .last-login {
    font-size: 12px;
}
.bct-menu-holder .menu-links {
    padding: 0 10px;
    display: inline-block;
    margin: 3px;
    color: #fff;
}
.bct-menu-holder .menu-links .glyphicon {
    margin-right: 3px;
}
.bct-menu-holder .menu-links:hover {
    color: #88c700;
    text-decoration: none;
}
.marquee {
    overflow: hidden;
    color: rgb(202, 255, 195);
    cursor: pointer;
}
.marquee span {
    margin-left: 100px;
}
.marquee-wrapper {
    border-top: 1px solid #88c700;
    border-bottom: 1px solid #fff;
}
#company-filter, #year-filter {
    width: 65%;
    display: inline-block;
    margin-left: 5px;
}
.filter-wrapper {
    margin-top: 5px;
    position: fixed;
    width: 15%;
    height: 100%;
    background: #000;
    top: 0px;
    color: #fff;
    z-index: 5;
    overflow-y: auto;
    overflow-x :hidden;
    border-right: 1px solid #fff;
}
.filter-wrapper .dropbtn {
    padding: 5px 15px;
}
.filter-wrapper .nav-dropdowns.nav {
    margin-top: 10px;
    background: #aaa;
}
.filter-wrapper .nav-dropdowns.nav > li {
    display: block;
}
.filter-wrapper .btn-group, .filter-wrapper .btn-group > .btn {
    width: 100%;
    min-width: 0px;
}
.filter-wrapper .btn-submit {
    /*margin: auto;
    display: block;
    width: 75%;*/
    margin-top: 10px;
}
.clearFilter{
    margin: 2px 0;
}
.download-templates-wrapper li {
    list-style: none;
}
.welcomeText {
    color: #88c700;
}
.icon-holder-unauth {
    padding-top: 10px;
    background: black;
    margin: 0px;
    margin-bottom: -10px;
    border-top: 1px solid #46b4e8;
    margin-top: 10px;
}
.icon-holder-unauth .pull-right {
    top: -5px;
    position: relative;
}
.centerText {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
/* Header Ends */

/*Public Pages Starts*/
.public-wrap {
    width: 40%;
    margin: 70px auto 0;
}
.public-wrap .panel .panel-heading {
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.public-wrap .panel .panel-footer {
    background: transparent;
    border-top: 1px solid #00717f;
}
.forgot-password .btn, .resend-activation .btn {
    width: 20%;
}
.back-to-login {
    padding-top: 8px;
    display: inline-block;
}
#rememberMe {
    margin: 0px;
    padding: 6px 12px;
    background: #00a3e0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
#loginBtn {
    background: #00a3e0;
}
/* Public Pages Ends */

/* Private Pages Starts */
#view {
    margin-bottom: 10px;
    margin-left: 17%;
    margin-right: 2%;
}
#view.unauth-page {
    margin: auto;
    width: 80%;
    position: relative;
}
#view.root-user {
    margin: 5%;
}
.private-page .bct-section-header {
    border-bottom: 1px solid white;
}
.private-page .form-wrapper {
    width: 50%;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    border : 1px solid #00717f;
}
.private-page .table-wrapper {
    margin: auto;
    margin-top: 30px;
}
.requiredText {
    text-align: right;
    color: #dd4444;
    margin-bottom: 10px;
}
.asterik {
    color: #dd4444;
    margin-right: 5px;
}
input[type="checkbox"],input[type="radio"] {
    margin: 0px 5px 0 10px;
}
.required-text-wrapper {
    margin-bottom: 10px;
}
.form-group label {
    margin-top: 5px;
}
.multiselect-container>li>a>label>input[type=checkbox] {
    margin-top: 5px;
}
.update_plan_icon {
    display: inline-block;
    background-size: 16px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: 100%;
}
.update_plan_icon {
    background-image: url("../images/update_plan.png");
}
.privacy-document .form-wrapper {
    width: 80%;
    background-color: white;
    color: black;
}
td.actions {
    text-align: center;
    vertical-align: inherit !important;
    width: 10%;
}
.plan-names-header {
    width: 174px;
    display: inline-block;
    margin: 0 10px;
}
.consolidation-wrapper .form-group label {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.consolidation-wrapper .form-group div {
    display: inline-block;
    margin: 0 10px;
}
.consolidation-wrapper {
    width: 100%;
    overflow-x: scroll;
}
#final-cons-table_wrapper tr td:first-child, #final-cons-table_wrapper tr th:first-child {
    min-width: 260px;
    border-right: 1px solid #ddd;
}
#final-cons-table_wrapper tr.blue td:first-child {
    border-right: none;
}
.blue {
    background: #5B9BD5 !important;
}
.blue td{
    padding-left: 8px !important;
}
/*.DTFC_LeftWrapper .blue td {
    display: none;
}
#final-cons-table .blue td:first-child {
    position: absolute;
    width: 100%;
    background: #5B9BD5 !important;
}*/

 tr td:first-child, .DTFC_LeftBodyLiner td {
    font-weight: bold;
    font-size: 14px;
}
#final-cons-table tr td {
    font-size: 14px;
    text-align: center;
}
.checkAll {
    display: block;
    margin: auto !important;
}
#user-list .dataTable td {
    word-break: break-all;
}
.upload-page .panel {
    box-shadow: none;
    /* border-top: 5px solid #eee; */
    border-radius: 0px;
}
/* Private Pages Ends */

/* Datatable changes Starts */
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 18px;
    vertical-align: middle;
}
/* Datatable changes Ends */

/* Update Plan Starts */
.page-wrapper{
    margin-left: 100px;
}
#create-plan-wrapper .head-wrapper {
    background: #000;
    width: 100%;
    padding: 0 20px 0 10px;
}
#create-plan-wrapper .form-tab  li{
    width: 0!important;
}
#create-plan-wrapper .contentWrap{
    position: relative;
}
.form-wrapper{
    margin-bottom: 10px;
}
#create-plan-wrapper .form-wrapper .form-control{
    width:100%;
    /*margin-top: 10px;*/
    margin-right:0;
    padding-right:0;
}
#create-plan-wrapper .form-wrapper .prev_year .form-control{
    margin-top: 0;
}
#create-plan-wrapper .tab-wrapper .form-group {
    padding-right: 5px;
}
.dropdown-content a.disabled {
    background: #ccc;
    color: black !important;
}
#generate_report .download_report {
    width: auto;
    background: none;
}
.create-plan-header, .edit-plan-header{
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
}
.create-plan-header span, .edit-plan-header span{
    display: inline-block;
    padding-right: 20px;
}
.section-wrapper:first-child{
    display: block;
}
.section-wrapper .panel {
    border: none;
    background: none;
    box-shadow: none;
}
.panel-login {
    border:0 ;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login>.panel-heading {
    font-size:18px;
    text-align: center;
}
.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.panel-login .panel-footer .form-group{
    margin:0;
}
ul.planlist-tabs li {
    list-style: none;
    background: #FFF;
    padding: 0px;
    text-align: center;
    border-top-width: 0;
    border-left-width: 0;
    width: 19%;
    margin-bottom: .5%;
    margin-right: .5%;
}
ul.planlist-tabs li:nth-child(1),ul.planlist-tabs li:nth-child(6) {
    border-left-width: 5px;
}
ul.planlist-tabs li:nth-child(6),ul.planlist-tabs li:nth-child(7),ul.planlist-tabs li:nth-child(8),ul.planlist-tabs li:nth-child(9),ul.planlist-tabs li:nth-child(10) {
    border-bottom-width: 0px;
}
ul.planlist-tabs li a,ul.planlist-tabs li span {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 15px;
}
ul.planlist-tabs li:hover {
    background: #88c700;
    cursor: pointer;
}
.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}
ul.planlist-tabs > li:hover > span, ul.planlist-tabs > li:hover > a {
    color: #000;
}
.tab-wrapper {
    clear: both;
}
.tab-wrapper h4{
    background: #eaeaea;
    padding: 7px;
}
.prev_year, .current_year {
    text-align: center;
}
#bct-form h3 {
    margin-top: 10px;
}
#bct-form hr {
    border-top: 3px solid #000;
    margin: 10px 0px;
}
#bct-form .form-control[readonly] {
    background: #fff;
    cursor: text;
}
#bct-form .dropdown-menu > li > a {
    max-width: 100%;
}
#bct-form .numValidation {
    color: red;
}
/* Update Plan Ends */

/*Code Start Som*/

#create-plan-wrapper .body-wrapper {
    height: 72%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background: #fff;
    padding: 0 20px 0 10px;
    color: #000;
}

#create-plan-wrapper .form-wrapper{
    padding-left: 0 !important;
}

#create-plan-wrapper .data-content {
    margin-left: 2%;
}

#create-plan-wrapper .planlist-tabs li.active {
    background-color: #88c700;
    color: #fff;
    font-weight: bold;
}

#create-plan-wrapper .planlist-tabs li.active a:hover,
#create-plan-wrapper .planlist-tabs li a:hover,
#create-plan-wrapper li.dropdown:hover > span {
    color: white !important;
}

#create-plan-wrapper li .dropdown-content > a:hover {
    border: 1px solid white;
}

#create-plan-wrapper.page-wrapper {
    margin: 0 1% 0 4%;
}

#create-plan-wrapper .dropdown::after {
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    right: 6px;
    top: 16px;
    content: "";
    color: #000;
}

#create-plan-wrapper .dropdown-content a:hover {
    font-weight: bolder;
}

#create-plan-wrapper .create-plan-header {
    padding: 0;
}

#create-plan-wrapper .form-btn-wrapper {
    margin-top: 1%;
    margin-right: 2%;
}

.dataTables_wrapper .dataTables_filter {
    margin-right: 1.5%;
}

.nav-dropdowns li.active {
    border-bottom: 2px solid #88c700;
    background-color: transparent;
}

.nav-dropdowns.nav li a:focus{
    background: transparent;
    outline: none;
}


/*Code End Som*/



/*update-plan ends*/



/* datatable related code - start */
table.dataTable thead th, table.dataTable thead td {
    padding: 7px 10px;
    border-bottom: 1px solid #111;
    font-size: 14px;
    text-align: center;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: bottom right;
} 
/* datatable related code -ene */


input[type=checkbox][name=changePassword]{
    margin-top: 10px;
}
.minHeight600{
    min-height: 600px;
}


/* updating styles for calender */

.ui-widget-header{
    border: 1px solid #009ddc !important;
    background: #009ddc !important;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png") !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #009ddc  !important;
    background: #ffffff !important;
    font-weight: bold !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #009ddc !important;
    background: #009ddc url("../images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x  !important;
    color: #363636 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #009ddc !important;
    background: #fff url("../images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x !important;
    font-weight: bold !important;
    color: #009ddc !important;
}

.ifrs-column-container .headers_wrapper label{
    display: block;
    text-align: right;
}
.small_loader{
    background: url("../images/spinner2.gif");
    display: inline-block;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

.totalInput{
    background-color: #428BCA !important;
    color: #fff;
    font-weight: bold;
}
#plan-list .glyphicon-log-out {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-decoration: none;
}
#plan-list .glyphicon.glyphicon-share-alt {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    top: -1px;
    margin-left: 5px;
    text-decoration: none;
}
table.DTFC_Cloned.dataTable.no-footer {
    border: none;
    text-align: right;
}
.DTFC_Cloned th {
    background: #f1f1f1;
}
.dataTables_scrollHeadInner {
    width: 100% !important;
}
.dataTable.scroll-datatable {
    margin: 0px !important;
    width: 100% !important;
    font-size: 14px;
}
.fixedHeader-floating {
    display: none;
}
#view .dropdown-toggle, #view .btn-group {
    width: 134px;
}
#create-plan-wrapper .dropdown-toggle, #create-plan-wrapper .btn-group{
    width:100%;
}
.create-plan-header .current-company {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

/*Styles written by Yaswanth */
html, body {
     background-color: #000;
    color: #FFF;
}

table.dataTable{
    color : black;
    text-align: center;
}

table.dataTable th{
     background-color: #CCC;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper 
.dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color : #FFF !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #aaa;
}
.dataTables_length select, .dataTables_filter input{
    color : #000;
}
.bct-header {
    height: auto;
}
.deloitteLogo {
    position: absolute;
    left: 20px;
    top: 8px;
}
 .logo {
    background-image: url("../images/DPeARL-2.png");
    height: 60px;
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: 0px 10px;
  }
.mainHomePage {
    display: inline-block;
    margin-top: 7%;
    margin-left: 10%;
}
.mainHomePage_Content {
    float: right;
    margin-top: 10%;
}
.mainHomePage_Content li {
    list-style: none;
    font-size: 28px;
    padding-left: 50px;
    font-weight: bold;
    background-size: 40px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.greenText {
    color: #6bc520;
}
.blueText {
    color: #46b4e8;
}
.mainHomePage_Items.account {
    background-image: url("../images/icons/account.png");
    color: #6bc520;
}
.mainHomePage_Items.transparency {
    background-image: url("../images/icons/transparency.png");
    color: #46b4e8;
}
.mainHomePage_Items.efficiency {
    background-image: url("../images/icons/efficiency.png");
    color: #74787b;
}
.mainHomePage_Items.flexibility {
    background-image: url("../images/icons/flexibility.png");
    color: #009aac;
}
.mainHomePage_Items.rapidity {
    background-image: url("../images/icons/rapidity.png");
    color: #e7e6e6;
}
.mainHomePage_Items.traceability {
    background-image: url("../images/icons/traceability.png");
    color: #00703a;
}
.mainHomePage_Items a:hover {
    text-decoration: none;
}
.helpSection {
    text-align: center;    
}
.helpTitleSection, .helpContentSection {
    width: 75%;
    margin: 0 auto;
}
.leftAligned {
    text-align: left;
}
.centerAligned {
    text-align: center;
}
.helpSection .helpTitleSection h1, .helpSection .helpContentSection h2, .helpSection .helpContentSection ul {
    color: #d1eca0;
}
.helpSection .helpContentSection {
    border: 1px solid #00717f;
    margin-top: 40px;
    padding: 15px;
}
.helpSection .helpTitleSection p{
    color: #c8c9ca;
}
.helpSection .helpContentSection .subListItems {
    color: #75787b;
    margin-left: 50px;
}
.helpSection .btn.btn-primary.helpBtn {
    margin-top: 20px;
    color: #000;
    background-image: url("../images/icons/mail.png");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 3px;
    font-size: 20px;
    padding-left: 40px;
}
.login-page {
    float: right;
}
.public-wrap .panel {
    background-color: #000;
    color: #fff;
    border: 1px solid #00717f;
}
input, button, select, textarea, .form-control {
    border-radius: 0;
    border-color: #d2d4cd;
}
.btn.btn-primary {
    background-color: #88c700;
    color: #fff;
    background-image: none;
    border: none;
}
.btn.btn-primary:hover {
    background-color: #88aa00;
    
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    border-color: transparent;
}
.public-wrap .panel .panel-heading {
    border: none;
}
#login-form input::placeholder {
    color: #a6abab;
}
#login-form .form-group {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
#login-form .form-group.pull-right, #login-form .form-group.pull-left {
    width: auto;
    display: inline;
}
#login-form .btn-group, #login-form .dropdown-toggle, #login-form ul.dropdown-menu {
    width: 100%;
}
.icon-holder {
    margin: 0;
}
#role {
    display: block;
}

input[type=file]{
    width:90px;
    color:transparent;
    display:inline-block;
}
.helpIcon img, .profileIcon img, .tutorialIcon img, .homeIcon img, .calendarIcon img {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.filterIconHolder {
    padding-top: 150px;
    text-align: center;
}
.icon-holder {
    margin-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.modal-body {
    color: #000;
}
.planlist-tabs .dropdown-content a, .planlist-tabs .dropdown-content span{
    color: #fff;
}
multiselect button {
    background: white !important;
    border-radius: 0px !important;
    text-align: left !important;
}
multiselect .dropdown-menu {
    margin-top: 0px !important;
    border-radius: 0px !important;
}
#centerText {
    position: absolute;
    z-index: 5;
    top: 45%;
    left: 35%;
    font-size: 30px;
    width: 31%;
    text-align: center;
    color: #47b3b3;
}
.upload{
    background-color: black;
    color: #FFF;
}
#final-cons-table_wrapper .dataTable thead th, #plan-list .dataTable thead th{
    background-color: #88c700;
    color:white;
}